<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">AppDemo - Frontend</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a  routerLink="/formulario"  routerLinkActive="active" (click)="goToModule('formulario')">Formularios</a></li>
        <li><a  routerLink="/componentes"  routerLinkActive="active" (click)="goToModule('componentes')">Components</a></li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>