<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">AppDemo - Frontend</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li routerLink="/formulario"  routerLinkActive="active" ><a (click)="goToModule('formulario')">Formularios</a></li>
        <li routerLink="/componentes"  routerLinkActive="active" ><a (click)="goToModule('componentes')">Components</a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <!-- Page Content goes here -->
  <div class="card-panel central">
    <router-outlet></router-outlet>
  </div>
</div>