/* You can add global styles to this file, and also import other style files */
body {
    background: 
      radial-gradient(black 3px, transparent 4px),
      radial-gradient(black 3px, transparent 4px),
      linear-gradient(#fff 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }
.active{
    background: rgb(0,0,0,0.1);
}
.central{
    min-height: 100vh;
}

.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.text-left {
  text-align: left!important;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
.justify-content-end {
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
}
.justify-content-start {
  -ms-flex-pack: start!important;
  justify-content: flex-start!important;
}
.justify-content-between {
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}
.justify-content-around {
  -ms-flex-pack: distribute!important;
  justify-content: space-around!important;
}

.text-muted {
  color: #6c757d!important;
}

.collection .collection-item.avatar {
  min-height: 60px;
}